{% extends 'base.html' %}
{% load static %}
{% block title %}
Maintenence
{% endblock %}

{% block stylesheet %}

    <style>
            #btn1 {

                background: blue;
                height: 60px;
                width: 400px;
                font-size: 22px;
                color: white;

            }
    </style>
{% endblock %}
{% block profile %}

{% endblock %}

{% block content %}
   {% if request.user.is_staff or request.user.is_superuser %}
         <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="{% url 'topic' %}" class="btn-btn-success"><button id="btn1" type="button" class="btn btn-primary">Add New Category</button></a><br>

            <a href="{% url 'profile' %}" class="btn-btn-success"><button type="button" id="btn1" class="btn btn-primary">Add New Author</button></a><br>
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endif %}
{% endblock %}

{% block script %}

{% endblock %}



